project_id  = "your-gcp-project-id"
region      = "europe-west10"
zone        = "europe-west10-a"
name_prefix = "service-launchpad"

labels = {
  owner = "platform"
}

# Optional
# artifact_bucket_name          = "globally-unique-bucket-name"
# artifact_bucket_force_destroy = true
